* {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	scroll-behavior: smooth;

	counter-reset: slide-fade;
}

.no-transition * {
	transition: none !important;
}

/* Scrollbar */

*::-webkit-scrollbar {
	position: absolute;
  width: 8px;
}
 
*::-webkit-scrollbar-track {
  background-color: transparent;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #888888;
}

/* Nav */

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: min(calc(100vw - 20px*2), 1000px);
	height: min-content;

	background-color: rgba(255, 255, 255, 0.48);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

	padding: 20px max(20px, calc(100vw/2 - 1000px/2));

	display: grid;
	grid-template-columns: auto repeat(3, max-content);
	grid-template-rows: min-content;
	gap: 30px;
	align-items: center;
	transition: background-color linear 0.8s;
}

nav.scroll {
	background-color: rgba(255, 255, 255, 0.95);
}

nav img {
	width: 117.24px;
	height: 30px;
}

nav a {
	text-decoration: none;
	color: rgb(47, 47, 47);
	font-weight: bold;
	font-size: 20px;
}

nav a:hover {
	filter: brightness(2);
}

nav a:visited {
	color: rgb(47, 47, 47);
}

@media screen and (max-width: 700px) {
	nav img {
		width: 97.705px;
		height: 25px;
	}

	nav a {
		font-size: 18px;
	}

	nav {
		gap: 20px;
	}
}

/* Footer */

footer {
	background-color: #515151;
	display: grid;
	/* grid-template-areas:
		"bar1 icon1 icon2 icon3 bar2"
		"copy copy copy copy copy";
	grid-template-columns: 1fr repeat(3, 30px) 1fr; */
	grid-template-areas:
		"bar1 icon1 bar2"
		"copy copy copy";
	grid-template-columns: 1fr 30px 1fr;
	padding: 20px;
	gap: 15px;
	align-items: center;
}

footer div.bar {
	background-color: white;
	width: 100%;
	height: 3px;
}

footer a img {
	aspect-ratio: 1;
	width: 30px;
	transition: filter 0.1s linear;
}

footer a img:hover {
	filter: brightness(0.8);
	cursor: pointer;
}

footer p.copy {
	grid-area: copy;
	color: #D1D1D1;
	font-weight: bold;
	text-align: center;
}

/* Fade in */
@media screen and (min-width: 850px) {
	.fade-in {
		transition: 0.75s;
		opacity: 0;
	}

	.fade-in.faded-in {
		opacity: 1;
	}
}

/* Slide and Fade in */
@media screen and (min-width: 850px) {
	.slide-fade-in {
		counter-increment: slide-fade;
		transition: 0.5s;
		transform: translateY(50%);
		opacity: 0;
	}
	
	.slide-fade-in.slided-faded-in {
		opacity: 1;
		transform: translateY(0px);
	}

	.slide-fade-in:nth-child(1) {
		transition-delay: 0s;
	}

	.slide-fade-in:nth-child(2) {
		transition-delay: 0.2s;
	}

	.slide-fade-in:nth-child(3) {
		transition-delay: 0.4s;
	}
}
