/* Hero */

.hero {
	/* Pad nav + actual padding */
	padding-top: calc(80px + 80px);

	background: linear-gradient(282.93deg, #BCD7FF 28.32%, #E1CAFF 84.28%);
	
	display: grid;
	gap: 10px;
	justify-items: center;
}

.hero h1, h2 {
	text-align: center;
	padding: 0px 20px;
}

.hero h1 {
	font-size: 40px;
}

.hero h2 {
	font-weight: normal;
	font-size: 24px;
	max-width: 640px;
}

.hero .email-form {
	display: grid;
	grid-template-columns: minmax(min-content, 300px) auto;
	gap: 30px;
	margin: 50px;
}

.hero .email-form input, .hero .email-form button {
	font-weight: bold;
	font-size: 18px;
	padding: 10px 14px;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	transition: linear 0.2s;
	background-color: white;
}

.hero .email-form input {
	width: calc(100% - 8px * 2);
}

.hero .email-form input:focus {
	outline: none;
	box-shadow: 0px 0px 10px rgba(60, 138, 255, 0.5);
}

.hero .email-form input.invalid {
	box-shadow: 0px 0px 10px rgba(255, 0, 0, 1);
}

.hero .email-form input:disabled {
	filter: brightness(0.8);
}

.hero .email-form input::placeholder {
	color: rgb(185, 185, 185);
}

.hero .email-form button {
	background-color: rgba(60, 138, 255, 1);
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	transition: 0.1s linear;
}

.hero .email-form button:hover {
	cursor: pointer;
	filter: brightness(0.9);
}

.hero .email-form button:disabled {
	filter: brightness(0.7);
}

.hero .img-container {
	width: 100%;
	margin-top: -200px;
	height: 500px;
	overflow: hidden;
	position: relative;
	pointer-events: none;
	--scale: 1;
	--offset: 150px;
}

.hero .img-container img {
	--min-width: 1000px;
	--max-width: 1300px;
	position: absolute;
	bottom: 0px;
	display: block;
	width: 100%;
	min-width: var(--min-width);
	max-width: var(--max-width);
	margin-left: max(min(0px, calc((100vw - var(--min-width))/2)), calc((100vw - var(--max-width))/2));
	user-select: none;
	transform: scale(var(--scale));
}

.hero .img-container img.front {
	--min-width: 400px;
	--max-width: 600px;
	transform: scale(var(--scale)) translateY(calc(var(--offset)));
}

@media screen and (max-width: 850px) {
	.hero .img-container {
		height: 400px;
	}
}

/* Marketing 1 */

.marketing-1 {
	background: url("images/marketing background.png"), linear-gradient(180deg, rgba(60, 138, 255, 0.02) 0%, rgba(60, 138, 255, 0.1) 100%);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto 100%;
	
	display: grid;
	grid-template-areas:
		'title title'
		'card1 card2';
	grid-template-rows: min-content auto;
	grid-template-columns: repeat(2, 1fr);
	padding: 50px max(calc((100vw - 1000px)/2), 50px);
	row-gap: 20px;
	column-gap: 40px;
}

.marketing-1 h3, .marketing-2 h3 {
	display: block;
	grid-area: title;
	font-size: 30px;
}

.marketing-1 .card {
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(60, 138, 255, 0.3);
	padding: 20px;

	/* TEMP */
	min-height: 300px;
}

.marketing-1 .card .card-title {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.marketing-1 {
		grid-template-areas:
			'title'
			'card1'
			'card2';
		grid-template-columns: 1fr;
	}
}

/* Marketing 2 */

.marketing-2 {
	padding: 50px max(calc((100vw - 1000px)/2), 50px);
}

.marketing-2 p {
	margin: 20px 0px;
	font-size: 18px;
}

#pricing {
	background-color: rgba(60, 138, 255, 1);
	padding: 50px max(calc((100vw - 1000px)/2), 50px);
	display: grid;
	grid-template-areas: 
		'title title title'
		'card1 card2 card3';
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-bottom: 120px;
}

#pricing h3 {
	color: white;
	font-size: 26px;
	grid-area: title;
}

#pricing .price-card {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	margin-bottom: -120px;
}

#pricing .price-card p.name {
	color: #515151;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

#pricing .price-card p.price {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	margin: 15px 0px;
}

#pricing .price-card p.price.monthly::after {
	content: " / month";
	font-weight: bold;
	font-size: 16px;
}

#pricing .price-card ul {
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 40px;
}

#pricing .price-card ul li {
	font-size: 18px;
}

#pricing .price-card button {
	color: white;
	display: block;
	font-weight: bold;
	font-size: 18px;
	margin: 0px auto;
	padding: 8px 25px;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	transition: linear 0.2s;
	background-color: rgba(60, 138, 255, 1);
}

#pricing .price-card button:hover {
	cursor: pointer;
	filter: brightness(0.9);
}

@media screen and (max-width: 850px) {
	#pricing {
		grid-template-areas: 
			'title title'
			'card1 card2';
		grid-template-columns: repeat(2, 1fr);
	}

	#pricing .price-card:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 515px) {
	#pricing {
		grid-template-areas: 
			'title'
			'card1'
			'card2';
		grid-template-columns: 1fr;
	}
}
