/* Hero */

.hero {
	/* Pad nav + actual padding */
	padding-top: calc(80px + 80px);

	background: linear-gradient(282.93deg, #BCD7FF 28.32%, #E1CAFF 84.28%);
	
	display: grid;
	gap: 15px;
	justify-items: center;
}

.hero h1, h2 {
	text-align: center;
	padding: 0px 20px;
}

.hero h1 {
	font-size: 40px;
}

.hero h2 {
	font-weight: normal;
	font-size: 24px;
	max-width: 640px;
}

.email-form {
	display: grid;
	grid-template-columns: minmax(min-content, 300px) auto;
	gap: 30px;
	margin: 50px;
}

.email-form input, .email-form button {
	font-weight: bold;
	font-size: 18px;
	padding: 10px 14px;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	transition: linear 0.2s;
	background-color: white;
}

.email-form input {
	width: calc(100% - 8px * 2);
}

.email-form input:focus {
	outline: none;
	box-shadow: 0px 0px 10px rgba(60, 138, 255, 0.5);
}

.email-form input.invalid {
	box-shadow: 0px 0px 10px rgba(255, 0, 0, 1);
}

.email-form input:disabled {
	filter: brightness(0.8);
}

.email-form input::placeholder {
	color: rgb(185, 185, 185);
}

.email-form button {
	background-color: rgba(60, 138, 255, 1);
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	transition: 0.1s linear;
}

.email-form button:hover {
	cursor: pointer;
	filter: brightness(0.9);
}

.email-form button:disabled {
	filter: brightness(0.7);
}

.hero .img-container {
	width: 100%;
	margin-top: -200px;
	height: 500px;
	overflow: hidden;
	position: relative;
	pointer-events: none;
	--scale: 1;
	--offset: 150px;
}

.hero .img-container img {
	--min-width: 1000px;
	--max-width: 1300px;
	position: absolute;
	bottom: 0px;
	display: block;
	width: 100%;
	min-width: var(--min-width);
	max-width: var(--max-width);
	margin-left: max(min(0px, calc((100vw - var(--min-width))/2)), calc((100vw - var(--max-width))/2));
	user-select: none;
	transform: scale(var(--scale));
}

.hero .img-container img.front {
	--min-width: 400px;
	--max-width: 600px;
	transform: scale(var(--scale)) translateY(calc(var(--offset)));
}

@media screen and (max-width: 850px) {
	.hero .img-container {
		height: 450px;
	}
}

@media screen and (max-width: 500px) {
	.hero .img-container img.front {
		transform: scale(var(--scale)) translateY(calc(var(--offset) - 40px));
	}

	.email-form button {
		padding: 10px;
	}

	.hero .email-form button:disabled {
		display: none;
	}
}

/* Marketing 1 */

.marketing-1 {
	background: url("images/marketing background.png"), linear-gradient(180deg, rgba(60, 138, 255, 0.02) 0%, rgba(60, 138, 255, 0.1) 100%);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto 100%;
	padding: 50px max(calc((100vw - 1000px)/2), 50px);
	position: relative;
}

.marketing-1 .card-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: 'card1 card2';
	column-gap: 40px;
	margin-top: 20px;
}

.marketing-1 .arrow {
	display: none;
	font-family: monospace;
	position: absolute;
	padding: 5px;
	line-height: 30px;
	height: 30px;
	width: 30px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	user-select: none;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(60, 138, 255, 0.3);
	top: 50%;
	cursor: pointer;
}

.marketing-1 .arrow#left {
	left: 5px;
}

.marketing-1 .arrow#right {
	right: 5px;
}

.marketing-1 h3, .marketing-2 h3 {
	display: block;
	grid-area: title;
	font-size: 30px;
}

.marketing-1 .card-container .card {
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(60, 138, 255, 0.3);
	padding: 25px;

	/* TEMP */
	min-height: 300px;
}

.marketing-1 .card-container .card .card-title {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.marketing-1 {
		perspective: 1000px;
	}

	.marketing-1 .arrow {
		display: block;
	}

	.marketing-1 .card-container {
		display: block;
		height: 340px;
		position: relative;
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}

	.card-container.flipped {
		transform: rotateY(180deg);
	}

	.marketing-1 .card-container .card {
		width: calc(100% - 2*25px);
		text-align: center;
		-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
	}

	.marketing-1 .card-container .card.front {
		position: absolute;
	}

	.marketing-1 .card-container .card.back {
		position: absolute;
		transform: rotateY(180deg);
	}
}

/* Marketing 2 */

.marketing-2 {
	padding: 50px max(calc((100vw - 1000px)/2), 50px);
}

.marketing-2 .testimonial {
	box-shadow: 0px 0px 20px rgb(60, 138, 255, 0.3);
	border-radius: 10px;
	padding: 15px 20px;
	margin: 25px 0px;
}

.marketing-2 .testimonial:nth-child(2n) {
	margin-right: 20vw;
}

.marketing-2 .testimonial:nth-child(2n+1) {
	margin-left: 20vw;
}

.marketing-2 .testimonial .quote {
	font-size: 20px;
	margin-bottom: 10px;
}

.marketing-2 .testimonial .quote::before {
	content: '“ ';
	font-size: 30px;
	line-height: 20px;
}

.marketing-2 .testimonial .person {
	text-align: right;
	margin-left: auto;
	font-size: 18px;
	color: #515151;
}

.marketing-2 .testimonial .person::before {
	content: "- "
}

@media screen and (max-width: 700px) {
	.marketing-2 .testimonial:nth-child(2n) {
		margin-right: 0;
	}
	
	.marketing-2 .testimonial:nth-child(2n+1) {
		margin-left: 0;
	}
}

/* Pricing */

#pricing {
	background-color: rgba(60, 138, 255, 1);
	padding: 50px max(calc((100vw - 1000px)/2), 50px);
	display: grid;
	grid-template-areas: 
		'title title title'
		'card1 card2 card3';
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-bottom: 120px;
}

#pricing h3 {
	color: white;
	font-size: 26px;
	grid-area: title;
}

#pricing .price-card {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	margin-bottom: -120px;

	display: grid;
	grid-template-rows: min-content min-content auto min-content;
}

#pricing .price-card p.name {
	color: #515151;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

#pricing .price-card p.price {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	margin: 15px 0px;
}

#pricing .price-card p.price.monthly::after {
	content: " / month";
	font-weight: bold;
	font-size: 16px;
}

#pricing .price-card ul {
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 40px;
}

#pricing .price-card ul li {
	font-size: 18px;
}

#pricing .price-card button {
	color: white;
	display: block;
	font-weight: bold;
	font-size: 18px;
	margin: 0px auto;
	padding: 8px 25px;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	transition: linear 0.2s;
	background-color: rgba(60, 138, 255, 1);
}

#pricing .price-card button:hover {
	cursor: pointer;
	filter: brightness(0.9);
}

@media screen and (max-width: 850px) {
	#pricing {
		grid-template-areas: 
			'title title'
			'card1 card2';
		grid-template-columns: repeat(2, 1fr);
	}

	#pricing .price-card:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	#pricing {
		grid-template-areas: 
			'title'
			'card1'
			'card2'
			'card3';
		grid-template-columns: 1fr;
		margin-bottom: 0px;
	}

	#pricing .price-card {
		max-width: 350px;
		margin: auto;
	}

	#pricing .price-card:nth-child(3) {
		display: block;
	}
}

modal::before {
	content: "";
	position: absolute;
	top: -100vh;
	left: -100vw;
	width: 200vw;
	height: 200vh;
	z-index: -999;
	backdrop-filter: brightness(0.8) blur(3px);
}

modal::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-color: white;
	z-index: -998;
}

modal::before, modal::after, modal * {
	transition: opacity 0.3s linear;
}

modal.hidden {
	pointer-events: none;
}

modal.hidden::before, modal.hidden::after, modal.hidden *{
	opacity: 0;
}

modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	padding: 10px 30px;
	padding-top: 20px;
	max-width: 350px;
	display: grid;
	gap: 10px;
	justify-content: stretch;
}

modal p {
	text-align: center;
}

modal p:nth-child(1) {
	font-size: 32px;
	font-weight: bold;
}

modal p:nth-child(2) {
	font-size: 20px;
}

modal .email-form {
	margin: 15px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
}

modal .email-form input {
	width: unset;
}

modal .email-form button {
	width: unset;
}