#tasks {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40rem;
}

.task {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto max-content max-content;
	grid-template-areas:
		'main main'
		'bar bar'
		'b1 b2';
	gap: 15rem;
}

.main-task {
	grid-area: main;
	display: grid;
	grid-template-rows: min-content auto min-content;
	padding: 25rem;
	gap: 15rem;
}

.main-task > p.title {
	font-size: 26rem;
	font-weight: bold;
	text-align: center;
}

.main-task .subsection {
	display: grid;
	gap: 10rem;
	align-items: start;
	align-content: start;
}

.main-task .subsection > p.title {
	font-size: 26rem;
	font-weight: bold;
}

.main-task .minitask {
	display: grid;
	grid-template-columns: min-content auto;
	align-items: center;
	gap: 10rem;
}

.main-task .minitask > .checkbox {
	width: 40rem;
	height: 40rem;
	background-color: #E6E6E6;
	border-radius: 8rem;
	transition: background-color 0.2s linear;
}

.main-task .minitask > .checkbox[data-checked="yes"] {
	background-color: #00F462;
}

.main-task .minitask > p.desc {
	font-size: 22rem;
}

.task .multi-bar {
	grid-area: bar;
}

.task .button {
	display: grid;
	align-items: center;
	justify-content: center;
	padding: 2.5rem;
}

.task .button img {
	display: block;
	height: 40rem;
	margin: 0;
}
